# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Backend
backend/target/
backend/.classpath
backend/.project
backend/.settings/

# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

# Secrets
.env
*.log
